<div class='container'>
  <div class="row justify-content-between align-items-center">
    <%= link_to 'Add a list', new_list_path, class: 'btn btn-success' %>
    <%= render 'shared/search' %>
  </div>
    <div class='row mt-2'>
      <% @lists.each do |list| %>
        <div class="col-4">
          <%= link_to list_path(list.id) do %>
            <div class='justify-content-around d-flex align-items-center' style="height: 80px; background-image: url('https://source.unsplash.com/1200x900'); border-radius: 15px;">
              <h3><%= list.name %></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
