  <div class='navbar navbar-light bg-light sticky-top'>
  <div>
    <%= link_to 'Lists', lists_path, class: 'navbar-brand' %>
    <%= link_to 'Movies', movies_path, class: 'navbar-brand' %>
  </div>
  </div>

<div class='d-flex align-items-center mb-4' style="width: 100vw; height: 300px;
  background-image: url('https://source.unsplash.com/1200x900');
  background-position: center; background-size: cover;">
  <h1 class='p-2 mx-auto text-white rounded' style='background: rgba(100,100,100,0.5)'><%= @title %></h1>
</div>
