<form class="form-inline" action="">
  <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" type="submit">Search</button>
</form>
